.category-pic
{
	//border: 0.2em solid white;
	//border-radius: 100%;
	max-height: 20vh;
	max-width: auto;
}

.user-pic-small
{
	border: 0.2em solid white;
	border-radius: 100%;
	max-width: 120%;
	max-height: 30vh ;
}

.team-top
{
	border-bottom: 0.1em solid white ;
}