label
{
	margin-bottom: 0;
}

.text-input
{
	color: inherit;
	font: inherit ;
	font-weight: inherit;
	width: 100% ;
	border: none;
    border-bottom: 1px solid #ffffff;
    background: none;
}

.text-input:focus
{
	border: none;
    border-bottom: 1px solid #41516b;
    background: none;
    outline:none;
}

.vwf-20 { width: 20vw; }