/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.hvr-custom
{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font: inherit;
  border-radius: 0;
  padding: 0 1px 0 1px;
  background-color: inherit;
  color: #f47d3d;
  //border-bottom: 1px solid #f47d3d ;
  font-weight: 400 ;
}
.hvr-custom:hover
{
  color: white;
  //border-bottom: 1px solid white ;
}

.hvr-items
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-bottom: 1px solid white
}
.hvr-items:hover
{
    border-bottom: 1px solid #f47d3d ;
}

.hvr-tasks
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-bottom: 1px solid white
}
.hvr-tasks:hover
{
    border-bottom: 1px solid #f47d3d ;
}

.hvr-task-delete
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: inherit;
}
.hvr-task-delete:hover
{
    color: #c33333;
}

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-opc
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    opacity: 0.4;
}
.hvr-opc:hover
{
    opacity: 1;
}

.hvr-blocks
{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background: white ;  
}
.hvr-blocks:hover
{
  background-color: rgba(244, 125, 61, 0.25) ;
}