th, td, tr
{
	font: inherit;
}

.f-green{ color: #1e7a1a; };
.f-red{ color: #b51b1b ; };
.f-yellow{ color: #ffbb00 ; };

.small-input
{
	color: inherit;
	font: inherit ;
	font-weight: inherit;
	width: 100% ;
	border: none;
    border-bottom: 1px solid #1c1c1c;
    background: none;
    padding: 0.05em;
    margin-bottom: 0.1em ;
}

.small-input:focus
{
	border: none;
    border-bottom: 1px solid #41516b;
    background: none;
    outline:none;
    padding: 0.05em;
}

.no-button
{
    background:none;
    border:none;
}

.activeDay
{
    color: #f47d3d ;
}

.volNotification
{
    background-color: #f47d3d;
    color: white;
    border-radius: 1em;
    padding: 0.1em;
}