.task
{
	//border-radius: 0.2em;
	//border: 1px solid white;
	//background-color: #f2874d;
	border-bottom: 1px solid white
}

.menu-border
{
	border-top: 0.1em solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.vh-13 { min-height: 13vh ; }
.vh-32 { min-height: 32vh ; }
.vh-55 { min-height: 55vh ; }

.mid-col
{
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

#nav-top{ border-bottom: 2px solid white	;}
#nav-mid{ border-bottom: 2px solid #f47d3d ;}