#navbar-container
{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	z-index: 10;
	background-color: rgba(28,28,28,0.7);
}

#navbar-menu
{
	position: fixed;
	right: 0;
	height: 100vh;
	z-index: 11;

	background-image:    url(navbar-crop.png);
    background-size:     100% 100%;
    background-repeat:   no-repeat;
    background-position: center center; 
}

#navbar-button
{
	position: fixed;
	top: 5%;
	right: 5% ;
	color: white;
	z-index: 12 ;
}

#menu-options
{
	list-style-type: none;
}

.active
{
	color:#41516b !important ;
}