.splash
{
	width: 100%;
	height: auto ;
}

#downyougo
{
	margin-top: -10%;
	z-index: 2 ;
}

.logos
{
	width: 75%;
	height: auto ;
}

.cat-icon
{
	width: 50%;
	height: auto;
}

.venue
{
	-webkit-box-shadow: 10px 10px 38px -17px rgba(28,28,28,1);
    -moz-box-shadow: 10px 10px 38px -17px rgba(28,28,28,1);
    box-shadow: 10px 10px 38px -17px rgba(28,28,28,1);
}
